<section class="cFooter cWhiteBG">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
              <div class="cFooterLinks">
                <ul>
                    <li class="cCopyright">©2020 WSO2</li>
                    <li class="cLeft"><a href="https://wso2.com/terms-of-use" id="iFooterTxtTracking_Mobile_Legal" class="cFooterLinkTracking">Legal</a></li>
                    <li><a href="https://wso2.com/privacy-policy" id="iFooterTxtTracking_Mobile_Privacy" class="cFooterLinkTracking">Privacy</a></li>
                    <li><a href="https://wso2.com/california-privacy#opt-out" id="iFooterTxtTracking_Privacy" class="cFooterLinkTracking">Do Not Sell My Info</a></li>
                    <li><a href="https://wso2.com/cookie-policy" id="iFooterTxtTracking_Mobile_Privacy" class="cFooterLinkTracking">Cookie Policy</a></li>
                    <li><a href="https://wso2.com/modern-slavery-statement" id="iFooterTxtTracking_Mobile_modern_slavery_statement" class="cFooterLinkTracking">Modern Slavery Statement</a></li>
                    <li><a href="mailto:human-response@wso2.com" id="iFooterTxtTracking_Mobile_Report" class="cFooterLinkTracking">Report a Problem With This Page</a></li>
                </ul>
              </div>
            </div>
        </div>
    </div>
</section>