<section class="cMenu">
<div class="container">
  <div class="row">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="cLogo"><a class="navbar-brand" href="/"><img src="//wso2.cachefly.net/wso2/sites/all/2020-theme/images/wso2-logo.svg" alt="WSO2 Logo"/></a></div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse cNavlinks" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
     

     
    </ul>
    <ul class="navbar-nav mr-auto cRightLinks">
        <li class="nav-item">
            <a class="cMenuLinkTracking nav-link" href="//madhuramendis.github.io/support/handling-tickets">
            Handling Tickets
            </a>
          </li>
          <li class="nav-item">
            <a class="cMenuLinkTracking nav-link" href="//madhuramendis.github.io/support/escalations">
            Escalations
            </a>
          </li>
          <li class="nav-item">
            <a class="cMenuLinkTracking nav-link" href="//madhuramendis.github.io/support/sla">
             SLA
            </a>
          </li>
          <li class="nav-item">
            <a class="cMenuLinkTracking nav-link" href="//madhuramendis.github.io/support/protocol">
              Protocol
            </a>
          </li>
          <li class="nav-item">
            <a class="cMenuLinkTracking nav-link" href="//madhuramendis.github.io/support/training">
                Training
            </a>
          </li>
          <li class="nav-item">
            <a class="cMenuLinkTracking nav-link" href="//madhuramendis.github.io/support/tools">
                Tools
            </a>
          </li>
      

    </ul>

  </nav>
</div>

</div>
</section>